footer {
  box-shadow: var(--boxShadow);
  padding: 3rem var(--lateralPadding);
  background-color: var(--neutralDark);
  color: var(--neutralLight);

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 3rem;
  }

  .gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */

    .titleContainer {
      > p {
        font-weight: bold;
        font-size: x-large;
        margin-bottom: 12px;
      }
    }
    img {
      filter: invert(1);
    }

    .center {
      display: flex;
      justify-content: center;
    }
    .flexContainer {
      display: flex;
      align-items: center;
      gap: 0 12px;

      input {
        width: 100%;
        max-width: 45ch;
        padding: 0.5rem;
        border: 2px solid var(--neutralLight);
        border-radius: 4px;
        background-color: var(--neutralDark);
        color: var(--neutralLight);
      }
    }
  }
  .footerAuthor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 12px;
    margin: 4rem 0;
    font-size: 1.2rem;
  }
}
