:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #2c73d2;
  --primaryLight: #009ce9;
  --secondary: #00d9b3;
  --secondaryLight: #8bee86;
  --neutralDarkest: #1a1a1a;
  --neutralDark: #213547;
  --neutralMid: rgb(244, 244, 244);
  --neutralLight: #f9f9f9;
  --neutralLighter: #ffffff;
  --boxShadow: 0 0 3px rgba(0, 0, 0, 0.1);
  --lateralPadding: 1.8rem;

  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--neutralMid);
  font-size: 1.6rem;
}

li {
  list-style-type: none;
}

a {
  color: var(--neutralLight);
}

button {
  cursor: pointer;
}
