:root {
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary: #2c73d2;
  --primaryLight: #009ce9;
  --secondary: #00d9b3;
  --secondaryLight: #8bee86;
  --neutralDarkest: #1a1a1a;
  --neutralDark: #213547;
  --neutralMid: rgb(244, 244, 244);
  --neutralLight: #f9f9f9;
  --neutralLighter: #ffffff;
  --boxShadow: 0 0 3px rgba(0, 0, 0, 0.1);
  --lateralPadding: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutralMid);
}

a {
  color: var(--neutralDark);
  font-weight: 500;
  text-decoration: none;
}
button {
  color: var(--neutralDark);
  border-radius: 8px;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  background-color: var(--neutralDarkest);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--neutralDark);
    background-color: var(--neutralLighter);
  }
  button {
    background-color: var(--neutralLight);
  }
}
